.hero_2 {

  background-image: url('/src/components/base/photo/20240509-hbs-baker-library-0800 1.jpg');
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
