@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.authBg {
  font-family: "Poppins";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 42px 32px;

  .auth {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 40px;
    padding: 8px;

    .bg_auth {
      width: 50%;
      border-radius: 40px;
      height: 100%;
    }


    .form {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    background-repeat: no-repeat;

      h2 {
        font-size: 50px;
        font-weight: 400;
      }

      p {
        color: #A7A7A7;
        margin-bottom: 65px;
      }


      form {
        width: 50%;
        display: flex;
        flex-direction: column;

        .check, .check div {
          display: flex;
          align-items: center;
        }

        .check {
          margin-bottom: 45px;
          justify-content: space-between;

          div {
            gap: 5px;

            label {
              font-size: 13px;
            }
          }
        }

        input {
          height: 38px;
          background: #F5F7FB;
          border: none;
          border-radius:10px ;
        }

        button {
          border: none;
          border-radius: 10px;
          height: 38px;
          background: black;
          color: white;

        }

      }
    }
  }
}