.dashboard_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  text-transform: capitalize;

    .logo {
      display: flex;
      align-items: center;
      gap: 15px;

      img {
        padding: 7px;
        border-radius: 5px;
      }

      h5 {
        font-size: 14px;
        font-weight: 600;
        color: #85898F;
      }
    }

    .bread_crumbs {
      display: flex;
      align-items: center;
      gap: 2px;
      height: 16px;
      font-size: 11px;
      color: #85898F;

      img {
        height: 100%;
      }

      p {
      }
    }
  }
