@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.input {
  font-family: "Jua";
  font-size: 18px;
  background: #D9D9D9;
  width: 353px;
  padding: 10px 0 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 3px 2.6px;
}